# --------------------------------------
# Confluent Cloud connection information
# --------------------------------------
# ENVIRONMENT ID: env-abc12
# SERVICE ACCOUNT ID: 123456
# KAFKA CLUSTER ID: lkc-ab123
# SCHEMA REGISTRY CLUSTER ID: lsrc-987abc
# KSQLDB APP ID: lksqlc-12345
# --------------------------------------
sasl.mechanism=PLAIN
security.protocol=SASL_SSL
bootstrap.servers=pkc-aaaaaa.us-upnorth-2.aws.confluent.cloud:9092
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username\="AAAAAAAAAAAAAAAA" password\="XbR6n9kr6xoMbY2Nzbf8V/PkeYmLxcm7D3QssKwnisZNb3rAd7CJm5Veyn60oHLj";
basic.auth.credentials.source=USER_INFO
schema.registry.url=https://psrc-bbbbbb.us-upnorth-2.aws.confluent.cloud
schema.registry.basic.auth.user.info=BBBBBBBBBBBBBBBB:KTiRmiEyBQlv2vGcPz3w7k0PtF+F45xv8oX38nehRUSDVPURjzewPAtubRlJf2/k
replication.factor=1
ksql.endpoint=https://pksqlc-ccccc.us-upnorth-2.aws.confluent.cloud:443
ksql.basic.auth.user.info=CCCCCCCCCCCCCCCC:6AcNrwMwrAu7vLGU2nHAUQL2skwfjHy/zwhcMmQu9NX5fhX4pDViyYwJ0jMu/fDa

